{% extends 'users/base.html' %}
{% load render_table from django_tables2%}
{% block content %}
    
    {% if user.is_authenticated %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-default">
                <a class="btn btn-default" href="{% url 'update-status' %}">Update Request Status</a>
            </button>
        </div>
        <div>
            <h3>All Travel Requests:</h3>
                <article class="media-content-section">
                    <div>
                        {% render_table requests%}
                    </div>
                    
                </article>
        </div>
        <div>
            <h3>All Rides :</h3>
                <article class="media-content-section">
                    <div>
                        {% render_table rides%}
                    </div>
                    
                </article>
        </div>
    
    {% else %}
        <h2>Please Login to view Rides/Requests</h2>
    {% endif %}
{% endblock content %}

