{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{%block content%}

<div class="content-section">
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="formgroup">
            <legend class="border-bottom-mb4"> My Profile </legend>
            
            {{u_form|crispy}}
            {{p_form|crispy}}
            
        </fieldset>
        <div class='form-group'>
            <button class ="btn btn-outline-info" type submit>Save Changes</button>
        </div>
        
    </form>
    
  </div>


{% endblock content %}